<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <featureproductslider>
            <new_status>
                <enabled>1</enabled>
                <row>3</row>
                <title>featured</title>
                <itemsDefault>1</itemsDefault>
                <itemsDesktop>1</itemsDesktop>
                <itemsDesktopSmall>2</itemsDesktopSmall>
                <itemsTablet>2</itemsTablet> 
                <itemsMobile>1</itemsMobile>  
                <speed>3000</speed>
                <qty>8</qty>
                <addtocart>0</addtocart> 
                <wishlist>0</wishlist> 
                <compare>0</compare>
				<show_short_des>0</show_short_des>
                <rating>1</rating> 
                <navigation>0</navigation> 
                <pagination>0</pagination> 
                <auto>0</auto>
            </new_status>
        </featureproductslider>
    </default>
</config>
